/* --------- CSS -------- */
.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.test-css{
  width: 100px;
  height: 200px;
  color: red;
}
